<header>
	{{ page.header }}
</header>
	{{ page.headline }}

	
<div id="main" class="container-fluid">
	{{ page.primary_menu }}
</div>
{% if page.footer %}
	<footer>
	{{ page.footer }}
	</footer>
{% endif %}