<header>
	<div class="container-fluid">
		<div class="row">
			<div id="logo-tuborg" class="col-xs-2 logo-header">
				{{ tuborglogo }}
				<h1>HELLO</h1>
			</div>
			<div id="logo-tinderbox" class="link-front col-xs-8 logo-header">
				{{ sitebranding }}
			</div>
			<div id="dropdown" class="col-xs-2 nopadding">
				{{ tinderbox_main_menu }}
			</div>
		</div>
	</div>
</header>