<div id="headline" class="headline container-fluid">
	{{ content }}
	<div class="row">
		<div id="single-line" class="col-xs-12 nopadding"><img src="{{ path('<front>') }}themes/tinderbox/assets/img/tinderbox_single_line.svg" alt="Tuborg Logo"></div>
	</div>
</div>