header {
  width: 100%;
  height: 50px;
  background-color: $primary-color-teal;
  z-index: 999;
  display: block;
  box-sizing: border-box;
}
#logo-tinderbox {
  text-align: center;
}
.logo-header {
  height: 50px;
     margin-left: auto;
    margin-right: auto;
  img {
  	height: 30px;
  	margin-top: 10px;
  }
}

#user {
  float: right;
  height: 50px;
  width: auto;
  color: $primary-color-beige;
  font-size: 30px;
  margin-top: 10px;
}