header {
  width: 100%;
  height: 50px;
  background-color: $primary-color-teal;
  position: fixed;
  top: 0;
  z-index: 999; 
}
.logo-header {
  float: left;
  height: 50px;
  img {
  	height: 30px;
    width: 100%;
  	margin-top: 10px; 
    margin-left: auto;
    margin-right: auto;
  }
}

#user {
  float: right;
  height: 50px;
  width: auto;
  color: $primary-color-beige;
  font-size: 30px;
  margin-top: 10px; 
}
