.gradient-background {
	@include gradient-background($secondary-rosa-transparent, $secondary-color-rosa);
}

a.button {
  -webkit-appearance: button; }


.frontmenu-item-wrapper {
  a {
  font-family: "eveleth-regular";
  line-height: 1.6;
  text-align: right;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $primary-color-teal;
  padding-right: 45px;
  &:before {
    font-family: "font-awesome";
    position: absolute;
    right: 15px;
  }
}
  position: relative;
  width: 100%;
  overflow: hidden;
  .single-line {
    position: absolute;
    right: -12px;
    bottom: 11px;
  }
}

#button {
  &-schedule {
    @include gradient-background($secondary-yellow-transparent, $secondary-color-yellow);
  }
  &-qrcode {
    @include gradient-background($secondary-rosa-transparent, $secondary-color-rosa);
  }
  &-map {
    @include gradient-background($secondary-azur-transparent, $secondary-color-azur);
  }
  &-information {
    @include gradient-background($secondary-yellow-transparent, $secondary-color-yellow);
  }
  &-messages {
    @include gradient-background($secondary-rosa-transparent, $secondary-color-rosa);
  }
}
